img {
  max-width: 100%;
}

.img-container {
  background-color: #f7f7f7;
  text-align: center;
  width: 600px;
  height: 400px;
  margin: auto;
  position: relative;
}

.img-container > img {
  max-width: 100%;
}